{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "no-debugger": 2,
    "no-console": 0
  }
}