{__info_header}
'use strict';

import {
    PROGRESS,
    SUCCESS,
    FAILURE,
} from '{typesPath}';

export default function(state = {}, action) {
    switch(action.phase) {
        case PROGRESS:
            break;
        case SUCCESS:
            break;
        case FAILURE:
            break;
    }
    return state;
};