{__warning_header}
<%
  const importStates = Object.keys(entities).map( namespace => `import ${namespace} from './${getFolderName(namespace)}';` ).join('\n');
  const exportStates = Object.keys(entities).join(',\n  ');
%>
{importStates}

export default {
  {exportStates},
};
