{__info_header}
'use strict';

import {
    PROGRESS,
    SUCCESS,
    FAILURE,
} from '{typesPath}';

export default function(state, action) {
    switch(action.phase) {
        case PROGRESS:
            break;
        case SUCCESS:
            return state.set('result', action.result);
            break;
        case FAILURE:
            console.log(action.error)
            break;
    }
    return state;
};